<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="refresh" content="0; url={{ redirectTo }}">
  <link rel="canonical" href="{{ redirectTo }}">
  <title>Redirecting…</title>
</head>
<body>
  <p>This page has moved. <a href="{{ redirectTo }}">Click here if you are not redirected.</a></p>
</body>
</html>
